<template>
  <div>
    <el-container>
      <el-aside class="sidebar">
        <el-menu
            class="sidebar-menu el-menu-vertical-demo"
            :collapse="isCollapse"
            :router="true">
          <div class="title">
            {{ isCollapse ? "U" : "Utilities" }}
          </div>
          <el-divider></el-divider>
          <el-menu-item
              v-if="hasPermission('manager_modify_view')"
              index="users"
              :route="{ name: 'users' }"
          >
            <i class="el-icon-user default_icon"></i>
            <span slot="title">Users</span>
          </el-menu-item>
          <el-menu-item
              v-if="hasPermission('organization_modify_view')"
              index="organization"
              :route="{ name: 'organization' }"
          >
            <i class="el-icon-files default_icon"></i>
            <span slot="title">Organization</span>
          </el-menu-item>
          <el-menu-item
              v-if="hasPermission('region_modify_view')"
              index="regions"
              :route="{ name: 'regions' }"
          >
            <i class="el-icon-map-location default_icon"></i>
            <span slot="title">Regions</span>
          </el-menu-item>
          <el-menu-item
              v-if="hasPermission('send_message')"
              index="messages"
              :route="{ name: 'messages' }"
          >
            <i class="el-icon-position default_icon"></i>
            <span slot="title">Messages</span>
          </el-menu-item>
        </el-menu>
      </el-aside>
      <el-container class="sidenav-main">
        <el-header class="header">
          <el-button
              class="sidenav_button"
              v-if="isCollapse"
              icon="el-icon-s-unfold"
              @click="expandSidenav()"
          ></el-button>
          <el-button
              class="sidenav_button"
              v-else
              icon="el-icon-s-fold"
              @click="unExpandSidenav()"
          ></el-button>

          <div>
            <el-button @click="exitLogin()" class="exit_login">Войти</el-button>
            <el-dropdown trigger="click" class="header_dropdown">
          <span class="el-dropdown-link header_dropdown_text">
            EN<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item>
                  <div class="container_lang">
                    <el-tooltip
                        class="item"
                        effect="dark"
                        content="Ru"
                        placement="top-start"
                    >
                      <el-button class="flag_button" @click="chooseRussian()">
                        RU
                      </el-button
                      >
                    </el-tooltip>
                    <el-tooltip
                        class="item"
                        effect="dark"
                        content="Uz"
                        placement="top-start"
                    >
                      <el-button class="flag_button" @click="chooseUzbek()">
                        UZ
                      </el-button>
                    </el-tooltip>
                  </div>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </el-header>
        <el-main class="main" style="height: 100vh">
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "Sidenav",
  data() {
    return {
      isCollapse: true
    }
  },
  methods: {
    ...mapActions({
      getUserDetails: "getUserDetails"
    }),
    chooseRussian() {

    },
    chooseUzbek() {

    },
    expandSidenav() {
      this.isCollapse = false;
    },
    unExpandSidenav() {
      this.isCollapse = true;
    },
    exitLogin() {
      this.$router.push({name: "login"})
    }
  },
  mounted() {
    this.getUserDetails();
  },
  computed: {
    ...mapGetters(["hasPermission"]),
  }
}
</script>

<style scoped>
.sidebar {
  width: auto !important;
  min-width: 0 !important;
  height: 100vh !important;
  background: #fff;
  overflow-y: hidden !important;
}

.sidenav_header {
  width: 94px;
  height: 44px;
  background: #e9765b;
  border-radius: 15px;
  text-align: center;
  margin-left: 22px;
  margin-top: 30px;
  margin-bottom: 33px;
  transition: linear 0.2s;
}

.header {
  height: 60px !important;
  text-align: right;
  font-size: 12px;
  line-height: 60px;
  z-index: 1;
  background: #e1e1e1;
}

.sidebar-menu {
  margin-top: 60px;
}

.el-menu--collapse {
  width: 64px;
  height: 100%;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 250px;
  height: 100%;
}

.sidenav-main {
  height: 100vh;
  background: #e1e1e1;
}

.sidenav_button,
.sidenav_button:focus,
.sidenav_button:hover {
  background-color: #FB6D3A;
  height: 40px;
  border-radius: 2px;
  color: #fdfdfd;
  font-size: 15px;
  margin: 10px 10px 10px -20px;
  border: 3px solid white;
  float: left;
  padding: 7px 10px 10px 10px;
}

.el-menu-item span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #333333;
}

.el-menu-item:hover {
  background: #e1e1e1;
}

.el-menu-item:hover span {
  color: #e9765b;
}

.el-menu-item:hover i {
  color: #e9765b;
}

.default_icon {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #333333;
}

.el-menu--collapse > .el-menu-item.is-active i {
  color: #333333;
}

.el-menu-item.is-active i {
  color: #333333;
}

.el-menu--collapse > .el-menu-item:hover.is-active i {
  color: #e9765b;
}

.el-menu-item:hover.is-active i {
  color: #e9765b;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #FB6D3A;
}

.container_lang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flag_button {
  display: block;
  margin-left: 0 !important;
  margin-bottom: 10px;
  padding: 14px;
}

.el-dropdown-menu {
  /*margin-top: -px !important;*/
  padding: 10px;
  /*width: 300px;*/
  background-color: white !important;
  /*background: rgba(19, 30, 61, 0.5) !important;*/

  border-radius: 6px !important;
  border: 3px solid #e9765b !important;
}

.el-dropdown-menu__item {
  background-color: #f8f9ff !important;
  margin-top: 10px;
  border-radius: 4px;
  color: black !important;
  line-height: 20px !important;
}

.el-dropdown-menu__item:hover {
  background-color: #f8f9ff !important;
}

.exit_login {
  background: #FB6D3A;
  border-radius: 12px;
  color: #ffffff;
  margin-right: 30px;
  font-weight: 500;
}

</style>