<template>
  <div>
    <el-dialog
        :visible="openDialogRegion"
        @close="closeDialogRegion"
        width="40%"
    >
      <el-form
          class="demo-dynamic"
          label-position="Top"
          :model="regionData"
          ref="regionData"
          :rules="rules"
      >
        <el-row class="dialog_row" :gutter="20">
          <el-col :span="12">
            <el-form-item prop="name" label="Name">
              <el-input v-model="regionData.uzName" class="main_input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item prop="regionIndex" label="Region index">
              <el-input v-model="regionData.regionIndex" class="main_input"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="8">
            <el-button @click="saveRegion('regionData')" class="main_btn">Save</el-button>
          </el-col>
        </el-row>
      </el-form>

    </el-dialog>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex";

export default {
  name: "DialogAddEditRegions",
  props: {
    openDialogRegion: Boolean,
    editRegionData: Object,
  },
  data() {
    return {
      regionData: {
        id: null,
        regionIndex: 0,
        uzName: null,
      },
      regionDataForm: {
        page: 1,
        pageSize: 10,
      },
      regionFormData: {
        regionIndex: null,
        singleItemId: null,
        search: null,
        pageNumber: 1,
        pageSize: 10,
        id: null,
      },
      rules: {
        regionIndex: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
        uzName: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
      }
    }
  },
  methods: {
    ...mapActions({
      createRegion: "createRegion",
      updateRegion: "updateRegion",
      getRegionsByManager: "getRegionsByManager"
    }),
    saveRegion(regionData) {
      this.$refs[regionData].validate((valid) => {
        if (valid && !this.regionData.id) {
          this.createRegion(this.regionData)
              .then((response) => {
                if (response) {
                  this.$notify({
                    title: 'Success',
                    message: 'This is a success message',
                    type: 'success'
                  });
                } else {
                  this.$notify.error({
                    title: 'Error',
                    message: 'This is an error message'
                  });
                }
                this.closeDialogRegion();
                this.getRegionsByManager(this.regionFormData);
              })
        } else if (valid && this.regionData.id) {
          this.updateRegion(this.regionData)
              .then((response) => {
                if (response) {
                  this.$notify({
                    title: 'Success',
                    message: 'This is a success message',
                    type: 'success'
                  });
                } else {
                  this.$notify.error({
                    title: 'Error',
                    message: 'This is an error message'
                  });
                }
                this.closeDialogRegion();
                this.getRegionsByManager(this.regionFormData);
              })
        }
      })
    },
    closeDialogRegion() {
      this.$emit("update:openDialogRegion", false);
      this.$refs.regionData.resetFields();
    }
  },
  computed: {
    ...mapState({
      organizationList: (state) => state.organizationModule.organizationList,
      regionList: (state) => state.regionModule.regionList,
    })
  },
  watch: {
    editRegionData(val) {
      if (val) {
        this.regionData.id = val.id;
        this.regionData.regionIndex = val.regionIndex;
        this.regionData.uzName = val.uzName;
      }
    }
  }
}
</script>

<style scoped>

</style>