<template>
  <div>
    <el-row class="pagination_row">
      <el-col :span="8" :offset="8">
        <el-pagination
            background
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page.sync="regionData.pageNumber"
            :page-size="regionData.pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="regionTotalCount">
        </el-pagination>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex";

export default {
  name: "PaginationRegions",
  props: {
    regionData: Object,
  },
  data() {
    return {}
  },
  methods: {
    ...mapActions({
      getRegionsByManager: "getRegionsByManager"
    }),
    handleSizeChange(val) {
      this.regionData.pageSize = val
      this.getRegionsByManager(this.regionData)
    },
    handleCurrentChange(val) {
      this.regionData.pageNumber = val
      this.getRegionsByManager(this.regionData)
    },
  },

  computed: {
    ...mapState({
      regionTotalCount: (state) => state.regionModule.regionTotalCount,
    })
  },
}
</script>

<style scoped>

</style>