<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="20">
        <span class="title">
          Regions
        </span>
      </el-col>
      <el-col :span="3" :offset="18">
        <el-button @click="refreshRegions()" class="main_btn">Back</el-button>
      </el-col>
      <el-col :span="3">
        <el-button @click="addRegions()" class="main_btn">Add</el-button>
      </el-col>
      <el-col :span="24">
        <el-table :data="regionByManagerList" :loading="loading" border stripe>
          <el-table-column align="center" :index="indexMethod" label="№" type="index"></el-table-column>
          <el-table-column label="Name" prop="uzName"></el-table-column>
          <el-table-column label="Region index" prop="regionIndex"></el-table-column>
          <el-table-column label="Actions" width="200" align="center">
            <template slot-scope="scope">
              <el-button
                  class="table_action_button"
                  icon="el-icon-view"
                  @click="handleView(scope.$index, scope.row)"></el-button>
              <el-button
                  class="table_action_button"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"></el-button>
              <el-button
                  class="table_action_button"
                  icon="el-icon-delete"
                  type="danger"
                  @click="handleDelete(scope.$index, scope.row)"></el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex"

export default {
  name: "TableRegions",
  props: {
    openDialogRegion: Boolean,
    regionData: Object,
  },
  data() {
    return {}
  },
  methods: {
    ...mapActions({
      deleteRegion: "deleteRegion",
      getRegionsByManager: "getRegionsByManager"
    }),
    handleEdit(index, row) {
      this.$emit("update:openDialogRegion", true);
      this.$emit("update:editRegionData", row);
    },
    async handleView(index, row) {
      let regionViewData = {
        pageNumber: 1,
        pageSize: 10,
        id: row.id
      }
      this.regionData.id = row.id,
          await this.getRegionsByManager(regionViewData);
    },
    handleDelete(index, row) {
      if (row) {
        this.$confirm('This will permanently delete the file. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.deleteRegion(row)
              .then((response) => {
                if (response.status.statusCode === 200) {
                  this.getRegionsByManager(this.regionData);
                  this.$notify({
                    title: 'Success',
                    message: 'This is a success message',
                    type: 'success'
                  });
                } else {
                  this.$notify.error({
                    title: 'Error',
                    message: 'This is an error message'
                  });
                }
              })

        })
      }
    },
    indexMethod(index) {
      return (
          (this.regionData.pageNumber - 1) *
          this.regionData.pageSize +
          index +
          1
      );
    },
    refreshRegions() {
      let regionData = {
        regionIndex: null,
        singleItemId: null,
        search: null,
        pageNumber: 1,
        pageSize: 10,
        id: null,
      }
      this.getRegionsByManager(regionData);
    },
    addRegions() {
      this.$emit("update:openDialogRegion", true);
    }
  },
  computed: {
    ...mapState({
      regionByManagerList: (state) => state.regionModule.regionByManagerList,
      loading: (state) => state.regionModule.loading,
    })
  }
}
</script>

<style scoped>

</style>