<template>
  <div>
    <el-card>
      <DialogAddEditRegions :openDialogRegion.sync="openDialogRegion"
                            :editRegionData.sync="editRegionData"></DialogAddEditRegions>
      <TableRegions :openDialogRegion.sync="openDialogRegion" :regionData.sync="regionData"
                    :editRegionData.sync="editRegionData"></TableRegions>
      <PaginationRegions :regionData.sync="regionData"></PaginationRegions>
    </el-card>
  </div>
</template>

<script>
import DialogAddEditRegions from "@/views/regions/regions-components/DialogAddEditRegions";
import TableRegions from "@/views/regions/regions-components/TableRegions";
import {mapActions,} from "vuex";
import PaginationRegions from "@/views/regions/regions-components/PaginationRegions";

export default {
  name: "IndexRegions",
  components: {PaginationRegions, TableRegions, DialogAddEditRegions},
  data() {
    return {
      openDialogRegion: false,
      regionData: {
        regionIndex: null,
        singleItemId: null,
        search: null,
        pageNumber: 1,
        pageSize: 10,
        id: null,
      },
      editRegionData: {},
    }
  },
  methods: {
    ...mapActions({
      getRegionsByManager: "getRegionsByManager",

    })
  },
  mounted() {
    this.getRegionsByManager(this.regionData);
  }
}
</script>

<style scoped>

</style>