<template>
  <div>
    <el-card>
      <DialogAddEditOrganization :openDialogOrganization.sync="openDialogOrganization"
                                 :organizationEditData.sync="organizationEditData"></DialogAddEditOrganization>
      <TableOrganization :openDialogOrganization.sync="openDialogOrganization"
                         :organizationEditData.sync="organizationEditData"
                         :organizationData.sync="organizationData"></TableOrganization>
      <PaginationOrganization :organizationData.sync="organizationData"></PaginationOrganization>
    </el-card>
  </div>
</template>

<script>
import TableOrganization from "@/views/organization/organization-components/TableOrganization";
import DialogAddEditOrganization from "@/views/organization/organization-components/DialogAddEditOrganization";
import {mapActions} from "vuex";
import PaginationOrganization from "@/views/organization/organization-components/PaginationOrganization";

export default {
  name: "IndexOrganization",
  components: {PaginationOrganization, DialogAddEditOrganization, TableOrganization},
  data() {
    return {
      openDialogOrganization: false,
      organizationData: {
        pageNumber: 1,
        pageSize: 10,
      },
      regionData: {
        page: 1,
        pageSize: 10,
      },
      organizationEditData: {},
    }
  },
  methods: {
    ...mapActions({
      getOrganizationList: "getOrganizationList",
      getRegionsList: "getRegionsList"
    })
  },
  mounted() {
    this.getOrganizationList(this.organizationData);
    this.getRegionsList();
  }
}
</script>

<style scoped>

</style>