<template>
  <div>
    <el-dialog
        :visible="openDialogOrganization"
        @close="closeDialogOrganization"
        width="40%"
    >
      <el-form
          class="demo-dynamic"
          label-position="Top"
          :model="organizationData"
          ref="organizationData"
          :rules="rules"
      >
        <el-row class="dialog_row" :gutter="20">
          <el-col :span="8">
            <el-form-item prop="name" label="Name">
              <el-input v-model="organizationData.name" class="main_input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="messageTitle" label="Message title">
              <el-input v-model="organizationData.messageTitle" class="main_input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item prop="contactNumber" label="Contact number">
              <el-input v-mask="'(998)## ### ## ##'" v-model="organizationData.contactNumber"
                        class="main_input"></el-input>
            </el-form-item>

          </el-col>
          <el-col :span="8">
            <el-form-item prop="regionId" label="Region">
              <el-select @change="changeRegion($event)" clearable filterable v-model="organizationData.regionId"
                         class="main_input">
                <el-option v-for="item in regionList"
                           :key="item.id"
                           :label="item.uzName"
                           :value="item.id"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" v-if="regionManagerType === 2">
            <el-form-item prop="regionManagerId" label="Region">
              <el-select @change="changeRegionManager($event)" clearable filterable v-model="organizationData.regionManagerId"
                         class="main_input">
                <el-option v-for="item in regionManagerList"
                           :key="item.id"
                           :label="item.uzName"
                           :value="item.id"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" v-if="districtType === 3">
            <el-form-item prop="districtId" label="District">
              <el-select @change="changeDistrict($event)" clearable filterable v-model="organizationData.districtId"
                         class="main_input">
                <el-option v-for="item in districtList"
                           :key="item.id"
                           :label="item.uzName"
                           :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" v-if="streetType === 4">
            <el-form-item prop="streetId" label="Street">
              <el-select @click="changeStreet($event)" clearable filterable v-model="organizationData.streetId"
                         class="main_input">
                <el-option v-for="item in streetList"
                           :key="item.id"
                           :label="item.uzName"
                           :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="8">
            <el-button @click="saveOrganization('organizationData')" class="main_btn">Save</el-button>
          </el-col>
        </el-row>
      </el-form>

    </el-dialog>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex";
import regionServices from "@/services/apiServices/regionServices";

export default {
  name: "DialogAddEditOrganization",
  props: {
    openDialogOrganization: Boolean,
    organizationEditData: Object,
  },
  data() {
    return {
      organizationData: {
        name: null,
        regionId: null,
        messageTitle: null,
        contactNumber: null,
        districtId: null,
        streetId: null,
        regionManagerId: null,
        id: null,
        listRegionId: []
      },
      districtList: [],
      districtType: null,
      streetList: [],
      streetType: null,
      regionManagerList: [],
      regionManagerType: null,
      organizationDataForm: {
        pageNumber: 1,
        pageSize: 10,
      },
      roleManagerList: [
        {
          label: "Admin",
          value: 0
        },
        {
          label: "Organization",
          value: 1
        },
        {
          label: "Operator",
          value: 2
        },

      ],
      rules: {
        name: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
        messageTitle: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
        contactNumber: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
        regionId: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
      }
    }
  },
  methods: {
    ...mapActions({
      createOrganization: "createOrganization",
      getOrganizationList: "getOrganizationList",
      updateOrganization: "updateOrganization"
    }),
    saveOrganization(organizationData) {
      this.$refs[organizationData].validate((valid) => {
        if (valid && !this.organizationData.id) {
          this.createOrganization(this.organizationData)
              .then((response) => {
                if (response.status.statusCode === 200 || response.status.statusCode === 201) {
                  this.$notify({
                    title: 'Success',
                    message: 'This is a success message',
                    type: 'success'
                  });
                } else {
                  this.$notify.error({
                    title: 'Error',
                    message: 'This is an error message'
                  });
                }
                this.getOrganizationList(this.organizationDataForm);
                this.closeDialogOrganization();
              })
        } else if (valid && this.organizationData.id) {
          this.updateOrganization(this.organizationData)
              .then((response) => {
                if (response.status.statusCode === 200 || response.status.statusCode === 201) {
                  this.$notify({
                    title: 'Success',
                    message: 'This is a success message',
                    type: 'success'
                  });
                } else {
                  this.$notify.error({
                    title: 'Error',
                    message: 'This is an error message'
                  });
                }
                this.getOrganizationList(this.organizationDataForm);
                this.closeDialogOrganization();
              })
        }
      })
    },
    changeRegion(id) {
      if (id) {
        let changeRegionData = {
          regionIndex: null,
          singleItemId: null,
          search: null,
          pageNumber: null,
          pageSize: null,
          id: id,
        }
        regionServices.getRegionsByManager(changeRegionData).then((response) => {
          this.selectRegion(response.data);
        })
        this.organizationData.listRegionId.push(id);
      } else {
        this.streetList = [];
        this.streetType = null;
        this.districtList = [];
        this.districtType = null;
        this.regionManagerList = [];
        this.regionManagerType = null;
        this.organizationData.regionManagerId = null;
        this.organizationData.districtId = null;
        this.organizationData.streetId = null;
        this.organizationData.listRegionId = [];
      }
    },
    async changeRegionManager(id) {
      if (id) {
        let changeRegionData = {
          regionIndex: null,
          singleItemId: null,
          search: null,
          pageNumber: null,
          pageSize: null,
          id: id,
        }
        await regionServices.getRegionsByManager(changeRegionData).then((response) => {
          this.selectRegion(response.data);
        })
        this.organizationData.listRegionId.push(id);
      } else {
        this.organizationData.listRegionId.pop();
        this.districtList = [];
        this.districtType = null;
        this.streetList = [];
        this.streetType = null;
        this.organizationData.districtId = null;
        this.organizationData.streetId = null;
      }
    },
    changeDistrict(id) {
      if (id) {
        let changeRegionData = {
          regionIndex: null,
          singleItemId: null,
          search: null,
          pageNumber: null,
          pageSize: null,
          id: id,
        }
        regionServices.getRegionsByManager(changeRegionData).then((response) => {
          this.selectRegion(response.data);
        })
        this.organizationData.listRegionId.push(id);
      } else {
        this.streetList = [];
        this.streetType = null;
        this.organizationData.streetId = null;
        this.organizationData.listRegionId.pop();
      }
    },
    changeStreet(id) {
      if (id) {
        this.organizationData.listRegionId.push(id);
      } else {
        this.organizationData.listRegionId.pop();
      }
    },
    selectRegion(data) {
      if (data.type === 2) {
        this.regionManagerList = data.data;
        this.regionManagerType = data.type;
      }
      else if (data.type === 3) {
        this.districtList = data.data;
        this.districtType = data.type;
      } else if (data.type === 4) {
        this.streetList = data.data;
        this.streetType = data.type;
      }

    },
    closeDialogOrganization() {
      this.streetList = [];
      this.streetType = null;
      this.districtList = [];
      this.districtType = null;
      this.$emit("update:openDialogOrganization", false);
      this.$refs.organizationData.resetFields();
    }
  },
  computed: {
    ...mapState({
      organizationList: (state) => state.organizationModule.organizationList,
      regionList: (state) => state.regionModule.regionList,
    })
  },
  watch: {
    organizationEditData(val) {
      if (val) {
        this.organizationData.id = val.id;
        this.organizationData.name = val.name;
        this.organizationData.regionId = val.region.uzName;
        this.organizationData.messageTitle = val.messageTitle;
        this.organizationData.contactNumber = val.contactNumber;

      }
    }
  }
}
</script>

<style scoped>

</style>