<template>
  <div>
    <el-row class="pagination_row">
      <el-col :span="8" :offset="8">
        <el-pagination
            background
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page.sync="organizationData.pageNumber"
            :page-size="organizationData.pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="organizationCount">
        </el-pagination>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex";

export default {
  name: "PaginationOrganization",
  props: {
    organizationData: Object,
  },
  data() {
    return {}
  },
  methods: {
    ...mapActions({
      getOrganizationList: "getOrganizationList",
    }),
    handleSizeChange(val) {
      this.organizationData.pageSize = val;
      this.getOrganizationList(this.organizationData);
    },
    handleCurrentChange(val) {
      this.organizationData.pageNumber = val;
      this.getOrganizationList(this.organizationData);
    },
  },

  computed: {
    ...mapState({
      organizationCount: (state) => state.organizationModule.organizationCount,
    })
  },
}
</script>

<style scoped>

</style>