<template>
  <div>
    <el-row>
      <el-col :span="20">
        <span class="title">
          Organizations
        </span>
      </el-col>
      <el-col :span="3" :offset="21">
        <el-button @click="addOrganization()" class="main_btn">Add</el-button>
      </el-col>
      <el-col :span="24">
        <el-table :data="organizationList" :loading="loading" border stripe>
          <el-table-column align="center" type="index"></el-table-column>
          <el-table-column label="Name" prop="name"></el-table-column>
          <el-table-column label="Region">
            <template slot-scope="scope" prop="uzName">
              <p>{{ scope.row.region?.uzName }}</p>
            </template>
          </el-table-column>
          <el-table-column label="Message" prop="messageTitle"></el-table-column>
          <el-table-column label="Contact number" prop="contactNumber"></el-table-column>
          <el-table-column label="Actions" width="120" align="center">
            <template slot-scope="scope">
              <el-button
                  class="table_action_button"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"></el-button>
              <el-button
                  class="table_action_button"
                  icon="el-icon-delete"
                  type="danger"
                  @click="handleDelete(scope.$index, scope.row)"></el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex"

export default {
  name: "TableOrganization",
  props: {
    openDialogOrganization: Boolean,
    organizationEditData: Object,
  },
  data() {
    return {
      organizationData: {
        pageNumber: 1,
        pageSize: 10,
      },
    }
  },
  methods: {
    ...mapActions({
      deleteOrganization: "deleteOrganization",
      getOrganizationList: "getOrganizationList"
    }),
    handleEdit(index, row) {
      this.$emit("update:openDialogOrganization", true);
      this.$emit("update:organizationEditData", row);

    },
    handleDelete(index, row) {
      if (row) {
        this.$confirm('This will permanently delete the file. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.deleteOrganization(row)
              .then((response) => {
                if (response.status.statusCode === 200 || response.status.statusCode === 201) {
                  this.$notify({
                    title: 'Success',
                    message: 'This is a success message',
                    type: 'success'
                  });
                  this.getOrganizationList(this.organizationData);
                } else {
                  this.$notify.error({
                    title: 'Error',
                    message: 'This is an error message'
                  });
                }

              })
        })
      }
    },
    addOrganization() {
      this.$emit("update:openDialogOrganization", true);
    }
  },
  computed: {
    ...mapState({
      organizationList: (state) => state.organizationModule.organizationList,
      loading: (state) => state.organizationModule.loading,
    })
  }
}
</script>

<style scoped>

</style>