<template>
  <div class="login_container">
    <div class="login_main">
      <div class="login_text_title">
        <span class="login_title_text">Вход в систему</span>
      </div>
      <el-form
          class="login_form demo-dynamic"
          :model="userData"
          ref="userData">
        <el-form-item prop="login">
          <el-input
              v-model="userData.login"
              prefix-icon="el-icon-user"
          ></el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input
              v-model="userData.password"
              show-password
              prefix-icon="el-icon-lock"
          ></el-input>
        </el-form-item>

        <el-form-item class="form_login_button">
          <el-button
              class="login_button"
              @click="loginUser('userData')"
          >Войти
          </el-button
          >
        </el-form-item>

      </el-form>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex"

export default {
  name: "Login",
  data() {
    return {
      userData: {
        login: null,
        password: null,
      }
    }
  },
  methods: {
    ...mapActions({
      createAuthToken: "createAuthToken"
    }),
    loginUser(userData) {
      this.$refs[userData].validate(async (valid) => {
        if (valid) {
          await this.createAuthToken(this.userData)
              .then((response) => {
                if (response) {
                  this.$router.push({name: "home"})
                }
                else {
                  this.$router.push({name: "home"})
                }
              })
        }
      })
    }
  }
}
</script>

<style scoped>
.login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E1E1E1;
  overflow-y: auto;
}

.login_main {
  width: 23%;
  height: 460px;
  border-radius: 30px;
  background: #9e9e9e;
  padding: 20px;
}

.login_text_title {
  text-align: center;
  padding: 15px 0;
  margin-bottom: 40px;
}

.login_title_text {
  color: #FB6D3A;
  font-size: 25px;
  font-weight: bold;
}

>>> .el-input__inner {
  height: 52px;
  padding-left: 45px !important;
  border: 1px solid #dbdbdb !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  border-radius: 6px;
}

>>> .el-input__icon {
  font-size: 18px;
  color: #2c3e50;
  padding-right: 10px !important;
  width: 40px !important;
}

.login_button {
  height: 52px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  width: 100%;
  border-radius: 6px;
  background-color: #e9765b;
  border: none !important;
  text-align: center;
  color: white;
}

.login_button:hover {
  background-color: #a84f3f;
  color: white;
}

</style>