<template>
  <div>
    <el-dialog
        :visible="openDialogUser"
        @close="closeDialogUser"
        width="40%"
    >
      <el-form
          class="demo-dynamic"
          label-position="Top"
          :model="usersData"
          ref="usersData"
          :rules="rules"
      >
        <el-row class="dialog_row" :gutter="20">
          <el-col :span="6">
            <el-form-item prop="firstName" label="First name">
              <el-input v-model="usersData.firstName" class="main_input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item prop="lastName" label="Last name">
              <el-input v-model="usersData.lastName" class="main_input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item prop="phoneNumber" label="Phone number">
              <el-input v-mask="'(998)## ### ## ##'" v-model="usersData.phoneNumber" class="main_input"></el-input>
            </el-form-item>

          </el-col>
          <el-col :span="6">
            <el-form-item prop="login" label="Login">
              <el-input v-model="usersData.login" class="main_input"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item prop="password" label="Password">
              <el-input v-model="usersData.password" class="main_input" show-password></el-input>
            </el-form-item>

          </el-col>
          <el-col :span="6">
            <el-form-item prop="confirmPassword" label="Confirm Password">
              <el-input v-model="usersData.confirmPassword" class="main_input" show-password></el-input>
            </el-form-item>

          </el-col>
          <el-col :span="6">
            <el-form-item prop="email" label="Email">
              <el-input v-model="usersData.email" class="main_input"></el-input>
            </el-form-item>

          </el-col>
          <el-col :span="6">
            <el-form-item prop="role" label="Role">
              <el-select clearable filterable v-model="usersData.role" class="main_input">
                <el-option v-for="item in roleManagerList"
                           :key="item.value"
                           :label="item.label"
                           :value="item.value"></el-option>
              </el-select>
            </el-form-item>

          </el-col>
          <el-col :span="6" v-if="(usersData.role === 1 || usersData.role === 2)">
            <el-form-item prop="organizationId" label="Organization">
              <el-select @change="changeOrganization($event)" clearable filterable
                         v-model="usersData.organizationId" class="main_input">
                <el-option v-for="item in organizationList"
                           :key="item.id"
                           :label="item.name"
                           :value="item.id"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item prop="regionId" label="Region">
              <el-select @change="changeRegion($event)" clearable filterable v-model="usersData.regionId"
                         class="main_input">
                <el-option v-for="item in regionList"
                           :key="item.id"
                           :label="item.uzName"
                           :value="item.id"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" v-if="regionManagerType === 2">
            <el-form-item prop="regionManagerId" label="Region">
              <el-select @change="changeRegionManager($event)" clearable filterable v-model="usersData.regionManagerId"
                         class="main_input">
                <el-option v-for="item in regionManagerList"
                           :key="item.id"
                           :label="item.uzName"
                           :value="item.id"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" v-if="districtType === 3">
            <el-form-item prop="districtId" label="District">
              <el-select @change="changeDistrict($event)" clearable filterable v-model="usersData.districtId"
                         class="main_input">
                <el-option v-for="item in districtList"
                           :key="item.id"
                           :label="item.uzName"
                           :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" v-if="streetType === 4">
            <el-form-item prop="streetId" label="Street">
              <el-select @change="changeStreet($event)" clearable filterable v-model="usersData.streetId"
                         class="main_input">
                <el-option v-for="item in streetList"
                           :key="item.id"
                           :label="item.uzName"
                           :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8" :offset="8">
            <el-button @click="saveManager('usersData')" class="main_btn">Save</el-button>
          </el-col>
        </el-row>
      </el-form>

    </el-dialog>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex";
import regionServices from "@/services/apiServices/regionServices";

export default {
  name: "DialogAddEditUsers",
  props: {
    openDialogUser: Boolean,
    editManagerData: Object,
  },
  data() {
    let validatePassword = (rule, value, callback) => {
      if (value === "" || value === null) {
        callback(new Error("Please enter the password"));
      } else {
        setTimeout(() => {
          if (this.usersData.password !== "") {
            this.$refs.usersData.validateField("password");
          }
          callback();
        }, 1000);
      }
    };
    let validateConfirmPassword = (rule, value, callback) => {
      if (value === "" || value === null) {
        callback(new Error("Please enter the password again"));
      } else if (value !== this.usersData.password) {
        callback(new Error("Two inputs don't match! Try again"));
      } else {
        callback();
      }
    };
    let validatePhoneNumber = (rule, value, callback) => {
      if (value === "" || value === null) {
        callback(new Error("Please enter the phone number again"));
      } else if (value.length <= 16) {
        callback(new Error("Please enter the phone number correctly"));
      } else {
        callback();
      }
    };
    return {
      usersData: {
        firstName: null,
        lastName: null,
        phoneNumber: null,
        login: null,
        password: null,
        confirmPassword: null,
        email: null,
        role: null,
        organizationId: null,
        regionId: null,
        listRegionId: [],
        districtId: null,
        streetId: null,
        regionManagerId: null,
      },
      districtList: [],
      districtType: null,
      streetList: [],
      streetType: null,
      regionManagerList: [],
      regionManagerType: null,
      managerData: {
        pageNumber: 1,
        pageSize: 10,
      },
      roleManagerList: [
        {
          label: "Admin",
          value: 0
        },
        {
          label: "Organization",
          value: 1
        },
        {
          label: "Operator",
          value: 2
        },

      ],
      rules: {
        firstName: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
        lastName: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
        phoneNumber: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
          {
            validator: validatePhoneNumber,
            trigger: ["blur", "change"],
          },
        ],
        login: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
        password: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
          {validator: validatePassword, trigger: ["blur", "change"]},
        ],
        confirmPassword: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
          {validator: validateConfirmPassword, trigger: ["blur", "change"]},
        ],
        email: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
        role: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
        regionId: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
      }
    }
  },
  methods: {
    ...mapActions({
      createManager: "createManager",
      updateManager: "updateManager",
      getManagerList: "getManagerList",
      getRegionsByManager: "getRegionsByManager",
    }),
    saveManager(usersData) {
      this.$refs[usersData].validate((valid) => {
        if (valid && !this.usersData.id) {
          this.createManager(this.usersData)
              .then((response) => {
                if (response) {
                  this.$notify({
                    title: 'Success',
                    message: 'This is a success message',
                    type: 'success'
                  });
                  this.closeDialogUser();
                  this.getManagerList(this.managerData);
                } else {
                  this.$notify.error({
                    title: 'Error',
                    message: 'This is an error message'
                  });
                  this.closeDialogUser();
                  this.getManagerList(this.managerData);
                }
              })
        } else if (valid && this.usersData.id) {
          this.updateManager(this.usersData)
              .then((response) => {
                if (response) {
                  this.$notify({
                    title: 'Success',
                    message: 'This is a success message',
                    type: 'success'
                  });
                  this.closeDialogUser();
                  this.getManagerList(this.managerData);
                } else {
                  this.$notify.error({
                    title: 'Error',
                    message: 'This is an error message'
                  });
                  this.closeDialogUser();
                  this.getManagerList(this.managerData);
                }
              })
        }
      })
    },
    async changeRegion(id) {
      if (id) {
        let changeRegionData = {
          regionIndex: null,
          singleItemId: null,
          search: null,
          pageNumber: null,
          pageSize: null,
          id: id,
        }
        await regionServices.getRegionsByManager(changeRegionData).then((response) => {
          this.selectRegion(response.data);
        })
        this.usersData.listRegionId.push(id);
      } else {
        this.districtList = [];
        this.districtType = null;
        this.streetList = [];
        this.streetType = null;
        this.regionManagerList = [];
        this.regionManagerType = null;
        this.usersData.regionManagerId = null;
        this.usersData.districtId = null;
        this.usersData.streetId = null;
        this.usersData.listRegionId = [];
      }
    },
    async changeRegionManager(id) {
      if (id) {
        let changeRegionData = {
          regionIndex: null,
          singleItemId: null,
          search: null,
          pageNumber: null,
          pageSize: null,
          id: id,
        }
        await regionServices.getRegionsByManager(changeRegionData).then((response) => {
          this.selectRegion(response.data);
        })
        this.usersData.listRegionId.push(id);
      } else {
        this.usersData.listRegionId.pop();
        this.districtList = [];
        this.districtType = null;
        this.streetList = [];
        this.streetType = null;
        this.usersData.streetId = null;
        this.usersData.districtId = null;
      }
    },
    changeDistrict(id) {
      if (id) {
        let changeRegionData = {
          regionIndex: null,
          singleItemId: null,
          search: null,
          pageNumber: null,
          pageSize: null,
          id: id,
        }
        regionServices.getRegionsByManager(changeRegionData).then((response) => {
          this.selectRegion(response.data);
        })
        this.usersData.listRegionId.push(id);
      } else {
        this.usersData.listRegionId.pop();
        this.streetList = [];
        this.streetType = null;
        this.usersData.streetId = null;
      }
    },
    changeStreet(id) {
      if (id) {
        this.usersData.listRegionId.push(id);
      } else {
        this.usersData.listRegionId.pop();
      }
    },
    changeOrganization(id) {
      if (id) {
        let findRegionId = this.organizationList.find((x) => x.id === id);
        let changeRegionData = {
          regionIndex: null,
          singleItemId: findRegionId.regionId,
          search: null,
          pageNumber: null,
          pageSize: null,
          id: null,
        }
        regionServices.getRegionsByManager(changeRegionData).then((response) => {
          this.$store.commit("regionList", response.data.data);
        })
      }
    },
    selectRegion(data) {
      if (data.type === 2) {
        this.regionManagerList = data.data;
        this.regionManagerType = data.type;
      }
      if (data.type === 3) {
        this.districtList = data.data;
        this.districtType = data.type;
      } else if (data.type === 4) {
        this.streetList = data.data;
        this.streetType = data.type;
      }

    },
    closeDialogUser() {
      this.$emit("update:openDialogUser", false);
      this.$refs.usersData.resetFields();
      this.usersData.listRegionId = [];
      this.streetList = [];
      this.streetType = null;
      this.districtList = [];
      this.districtType = null;
    }
  },
  computed: {
    ...mapState({
      organizationList: (state) => state.organizationModule.organizationList,
      regionOfManagerList: (state) => state.regionModule.regionOfManagerList,
      regionByManagerList: (state) => state.regionModule.regionByManagerList,
      regionList: (state) => state.regionModule.regionList,
    })
  },
  watch: {
    editManagerData(val) {
      if (val) {
        this.usersData.id = val.id;
        this.usersData.firstName = val.firstName;
        this.usersData.lastName = val.lastName;
        this.usersData.phoneNumber = val.phoneNumber;
        this.usersData.login = val.login;
        this.usersData.email = val.email;
      }
    }
  }
}
</script>

<style scoped>

</style>