<template>
  <div>
    <el-row class="pagination_row">
      <el-col :span="8" :offset="8">
        <el-pagination
            background
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page.sync="managerData.pageNumber"
            :page-size="managerData.pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="managerCount">
        </el-pagination>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex";

export default {
  name: "PaginationUsers",
  props: {
    managerData: Object,
  },
  data() {
    return {}
  },
  methods: {
    ...mapActions({
      getManagerList: "getManagerList"
    }),
    handleSizeChange(val) {
      this.managerData.pageSize = val
      this.getManagerList(this.regionData)
    },
    handleCurrentChange(val) {
      this.managerData.pageNumber = val
      this.getManagerList(this.regionData)
    },
  },

  computed: {
    ...mapState({
      managerCount: (state) => state.managerModule.managerCount,
    })
  },
}
</script>

<style scoped>

</style>