<template>
  <div>
    <el-row>
      <el-col :span="20">
        <span class="title">
          Users
        </span>
      </el-col>
      <el-col :span="3" :offset="21">
        <el-button @click="addUser()" class="main_btn">Add</el-button>
      </el-col>
      <el-col :span="24">
        <el-table :data="managerList" :loading="loading" border stripe>
          <el-table-column align="center" type="index"></el-table-column>
          <el-table-column label="First name" prop="firstName"></el-table-column>
          <el-table-column label="Last name" prop="lastName"></el-table-column>
          <el-table-column label="Phone number" prop="phoneNumber"></el-table-column>
          <el-table-column label="Login" prop="login"></el-table-column>
          <el-table-column label="Email" prop="email"></el-table-column>
          <el-table-column label="Role" prop="role">
            <template slot-scope="scope">
              {{ checkRole(scope.row.role) }}
            </template>
          </el-table-column>
          <el-table-column label="Organization" prop="organization">
            <template slot-scope="scope">
              {{ scope.row.organization ? scope.row.organization?.name : "" }}
            </template>
          </el-table-column>
          <el-table-column label="Actions" width="120" align="center">
            <template slot-scope="scope">
              <el-button
                  class="table_action_button"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"></el-button>
              <el-button
                  class="table_action_button"
                  icon="el-icon-delete"
                  type="danger"
                  @click="handleDelete(scope.$index, scope.row)"></el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex"

export default {
  name: "TableUsers",
  props: {
    openDialogUser: Boolean,
    editManagerData: Object,
  },
  data() {
    return {
      managerData: {
        pageNumber: 1,
        pageSize: 10,
      },
    }
  },
  methods: {
    ...mapActions({
      deleteManager: "deleteManager",
      getManagerList: "getManagerList"
    }),
    handleEdit(index, row) {
      this.$emit("update:openDialogUser", true);
      this.$emit("update:editManagerData", row);
    },
    handleDelete(index, row) {
      if (row) {
        this.$confirm('This will permanently delete the file. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(async () => {
          await this.deleteManager(row)
              .then((response) => {
                if (response.status.statusCode === 200 || response.status.statusCode === 201) {
                  this.$notify({
                    title: 'Success',
                    message: 'This is a success message',
                    type: 'success'
                  });
                } else {
                  this.$notify.error({
                    title: 'Error',
                    message: 'This is an error message'
                  });
                }
                this.getManagerList(this.managerData);
              })
        })
      }
    },
    checkRole(id) {
      if (id === 0) {
        return 'Admin'
      } else if (id === 1) {
        return 'Organization'
      }
      return 'Operator'
    },
    addUser() {
      this.$emit("update:openDialogUser", true);
    }
  }
  ,
  computed: {
    ...
        mapState({
          managerList: (state) => state.managerModule.managerList,
          loading: (state) => state.managerModule.loading,
        })
  }
}
</script>

<style scoped>

</style>