<template>
  <div>
    <el-card v-loading="loading"
        element-loading-text="Please waiting..."
             element-loading-spinner="el-icon-loading">
      <el-form
          class="demo-dynamic"
          label-position="Top"
          :model="messageData"
          ref="messageData"
          :rules="rules"
      >
        <el-row>
          <el-col :span="20">
            <span class="title">Messages</span>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="8">
            <el-col :span="12">
              <el-form-item prop="language" label="Language">
                <el-select class="main_input" v-model="messageData.language">
                  <el-option v-for="(lang, index) in languages"
                             :value="lang.value"
                             :label="lang.label"
                             :key="index"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item prop="regionId" label="Region">
                <el-select @change="changeRegion($event)" clearable filterable v-model="messageData.regionId"
                           class="main_input">
                  <el-option v-for="item in regionList"
                             :key="item.id"
                             :label="item.uzName"
                             :value="item.id"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12" v-if="regionManagerType === 2">
              <el-form-item prop="regionManagerId" label="Region">
                <el-select @change="changeRegionManager($event)" clearable filterable
                           v-model="messageData.regionManagerId"
                           class="main_input">
                  <el-option v-for="item in regionManagerList"
                             :key="item.id"
                             :label="item.uzName"
                             :value="item.id"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12" v-if="districtType === 3">
              <el-form-item prop="districtId" label="District">
                <el-select @change="changeDistrict($event)" clearable filterable v-model="messageData.districtId"
                           class="main_input">
                  <el-option v-for="item in districtList"
                             :key="item.id"
                             :label="item.uzName"
                             :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12" v-if="streetType === 4">
              <el-form-item prop="streetId" label="Street">
                <el-select @change="changeStreet($event)" clearable filterable v-model="messageData.streetId"
                           class="main_input">
                  <el-option v-for="item in streetList"
                             :key="item.id"
                             :label="item.uzName"
                             :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item prop="title" label="Message title">
                <el-input v-model="messageData.title" type="textarea" :rows="4" class="main_input"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item prop="content" label="Message content">
                <el-input v-model="messageData.content" type="textarea" :rows="4" class="main_input"></el-input>
              </el-form-item>
            </el-col>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4">
            <el-button @click="sendMessage('messageData')" class="main_btn">Send</el-button>
          </el-col>
        </el-row>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex";
import regionServices from "@/services/apiServices/regionServices";
import messageServices from "@/services/apiServices/messageServices";

export default {
  name: "IndexMessages",
  data() {
    return {
      messageData: {
        title: null,
        content: null,
        managerId: null,
        regionId: null,
        districtId: null,
        streetId: null,
        regionManagerId: null,
        language: null,
        listRegionId: []
      },
      loading: false,
      districtList: [],
      streetList: [],
      districtType: null,
      streetType: null,
      regionManagerList: [],
      regionManagerType: null,
      rules: {
        title: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
        content: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
        language: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
        regionId: [
          {
            required: true,
            message: "Please fill the input",
            trigger: ["blur", "change"],
          },
        ],
      },
      languages: [
        {value: "uz", label: "O'zb", id: 1},
        {value: "ru", label: "Рус", id: 2},
        {value: "eng", label: "Eng", id: 3}
      ]
    }
  },
  methods: {
    ...mapActions({
      getRegionsList: "getRegionsList"
    }),
    sendMessage(messageData) {
      this.$refs[messageData].validate((valid) => {
        if (valid) {
          this.$confirm('Do you really want to  Continue?', 'Warning', {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning'
          })
              .then(async () => {
                this.loading = true;
                await messageServices.sendMessage(this.messageData)
                    .then((response) => {
                      if (response.data.status.statusCode === 200 || response.data.status.statusCode === 201) {
                        this.loading = false;
                        this.$notify({
                          title: `${response.data.data.title}`,
                          message: `${response.data.data.content}`,
                          type: 'success'
                        });
                      } else {
                        this.loading = false;
                        this.$notify.error({
                          title: 'Error',
                          message: 'This is an error message'
                        });
                      }
                      this.clearFormMessage();
                    })
              })
              .catch(() => {
                this.$notify.error({
                  title: 'Error',
                  message: 'This is an error message'
                });
                this.clearFormMessage();
              })

        }
      })
    },
    async changeRegion(id) {
      if (id) {
        let changeRegionData = {
          regionIndex: null,
          singleItemId: null,
          search: null,
          pageNumber: null,
          pageSize: null,
          id: id,
        }
        await regionServices.getRegionsByManager(changeRegionData).then((response) => {
          this.selectRegion(response.data);
        })
        this.messageData.listRegionId.push(id);
      } else {
        this.districtList = [];
        this.districtType = null;
        this.streetList = [];
        this.streetType = null;
        this.regionManagerList = [];
        this.regionManagerType = null;
        this.messageData.listRegionId = [];
        this.messageData.regionManagerId = null;
        this.messageData.districtId = null;
        this.messageData.streetId = null;
      }
    },
    async changeRegionManager(id) {
      if (id) {
        let changeRegionData = {
          regionIndex: null,
          singleItemId: null,
          search: null,
          pageNumber: null,
          pageSize: null,
          id: id,
        }
        await regionServices.getRegionsByManager(changeRegionData).then((response) => {
          this.selectRegion(response.data);
        })
        this.messageData.listRegionId.push(id);
      } else {
        this.messageData.listRegionId.pop();
        this.districtList = [];
        this.districtType = null;
        this.streetList = [];
        this.streetType = null;
        this.messageData.districtId = null;
        this.messageData.streetId = null;
      }
    },
    changeDistrict(id) {
      if (id) {
        let changeRegionData = {
          regionIndex: null,
          singleItemId: null,
          search: null,
          pageNumber: null,
          pageSize: null,
          id: id,
        }
        regionServices.getRegionsByManager(changeRegionData).then((response) => {
          this.selectRegion(response.data);
        })
        this.messageData.listRegionId.push(id);
      } else {
        this.messageData.listRegionId.pop();
        this.streetList = [];
        this.streetType = null;
        this.messageData.streetId = null;
      }
    },
    changeStreet(id) {
      if (id) {
        this.messageData.listRegionId.push(id);
      } else {
        this.messageData.listRegionId.pop();
      }
    },
    selectRegion(data) {
      if (data.type === 2) {
        this.regionManagerList = data.data;
        this.regionManagerType = data.type;
      } else if (data.type === 3) {
        this.districtList = data.data;
        this.districtType = data.type;
      } else if (data.type === 4) {
        this.streetList = data.data;
        this.streetType = data.type;
      }

    },
    clearFormMessage() {
      this.$refs.messageData.resetFields();
      this.messageData.listRegionId = [];
      this.streetList = [];
      this.streetType = null;
      this.districtList = [];
      this.districtType = null;
      this.regionManagerList = [];
      this.regionManagerType = null;
    }
  },
  computed: {
    ...mapState({
      regionList: (state) => state.regionModule.regionList,
    })
  },
  mounted() {
    this.getRegionsList();
  }
}
</script>

<style scoped>

</style>