html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main_btn {
    width: 100% !important;
    background: #FB6D3A !important;
    color: #ffffff !important;
    font-weight: 700 !important;
    margin: 10px 0 !important;
}

.main_input {
    font-weight: bold !important;
    color: #B3B6B6 !important;
    width: 100% !important;
    border-radius: 6px !important;
    margin: 10px 0;
}

.title {
    font-size: 24px !important;
    font-weight: 600 !important;
}

.el-dialog {
    margin-top: 10vh !important;
    background: #e1e1e1 !important;
    border-radius: 6px !important;
    padding: 0 !important;
}

.el-dialog__header {
    text-align: center !important;
    padding: 0 !important;
    height: 0 !important;
}

.el-dialog__body {
    padding: 0 !important;
}

.el-dialog__headerbtn {
    top: -35px !important;
    font-size: 30px !important;
    position: relative !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.el-dialog__headerbtn i {
    color: #e9765b !important;
    font-weight: bold;
}

.dialog_row {
    margin: 10px !important;
}

.pagination_row {
    margin: 20px 0;
}

.table_action_button {
    border-radius: 10px !important;
    padding: 10px !important;
}

.table_action_button i {
    font-size: 15px;
    font-weight: bold;
}