<template>
  <div>
    <el-card>
      <DialogAddEditUsers :openDialogUser.sync="openDialogUser"
                          :editManagerData.sync="editManagerData"></DialogAddEditUsers>
      <TableUsers :openDialogUser.sync="openDialogUser" :editManagerData.sync="editManagerData"
                  :managerData="managerData"></TableUsers>
      <PaginationUsers :managerData="managerData"></PaginationUsers>
    </el-card>
  </div>
</template>

<script>
import DialogAddEditUsers from "@/views/users/users-components/DialogAddEditUsers";
import TableUsers from "@/views/users/users-components/TableUsers";
import {mapActions} from "vuex";
import PaginationUsers from "@/views/users/users-components/PaginationUsers";

export default {
  name: "IndexUsers",
  components: {PaginationUsers, DialogAddEditUsers, TableUsers},
  data() {
    return {
      openDialogUser: false,
      managerData: {
        pageNumber: 1,
        pageSize: 10,
      },
      editManagerData: {},
      organizationData: {
        pageNumber: 1,
        pageSize: 10,
      },
      regionData: {
        regionIndex: null,
        singleItemId: null,
        search: null,
        pageNumber: null,
        pageSize: null,
        id: null,
      }
    }
  },
  methods: {
    ...mapActions({
      getManagerList: "getManagerList",
      getOrganizationList: "getOrganizationList",
      getRegionsList: "getRegionsList"
    })
  },
  mounted() {
    this.getManagerList(this.managerData);
    this.getOrganizationList(this.organizationData);
    this.getRegionsList();
  }

}
</script>

<style scoped>
@import "/src/assets/styles/index.css";

</style>